{% include '../template.html' %}

  {% if form.errors %}
    <p class="text-white text-center">Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p class="text-white text-center">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p class="text-white text-center">Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form class="text-center" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table  style="margin-left:auto;margin-right:auto;">
      <tr>
        <td class="text-white">{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td class="text-white">{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p class="text-center"><a href="{% url 'password_reset' %}">Lost password?</a></p>

