{% include './template.html' %}
<script src="https://unpkg.com/cart-localstorage@1.1.4/dist/cart-localstorage.min.js" type="text/javascript"></script>
<br>
<body class="pt-4">
<div class="container">
    <div class="row">
        <!-- BEGIN SEARCH RESULT -->
        <div class="col-md-12">
            <div class="grid search">
                <div class="grid-body">
                    <div class="row">
                        <!-- BEGIN FILTERS -->
                        <div class="col-md-3">
                            <h2 class="grid-title text-white"><i class="fa fa-filter whiteiconcolor"></i> Filters</h2>
                            <hr>

                            <!-- BEGIN FILTER BY biketype -->
                            <form method="GET" action="/bikes/filter/">

                                <h4 class="text-white">Filter By Bike Type:</h4>
                                <div class="list-group text-white">
                                    <label class="list-group-item" style="background:#495b61">
                                        <input class="form-check-input me-1" type="checkbox" name="biketype"
                                               value="Hybrid">Hybrid
                                    </label>
                                    <label class="list-group-item" style="background:#495b61">
                                        <input class="form-check-input me-1" type="checkbox" name="biketype"
                                               value="Tour">Tour
                                    </label>
                                    <label class="list-group-item" style="background:#495b61">
                                        <input class="form-check-input me-1" type="checkbox" name="biketype"
                                               value="Race">Race
                                    </label>
                                    <label class="list-group-item" style="background:#495b61">
                                        <input class="form-check-input me-1" type="checkbox" name="biketype"
                                               value="Mountain">Mountain
                                    </label>
                                    <label class="list-group-item" style="background:#495b61">
                                        <input class="form-check-input me-1" type="checkbox" name="biketype"
                                               value="Road">Road
                                    </label>
                                </div>

                                <!-- END FILTER BY biketype -->
                                <!-- BEGIN FILTER BY COLOR-->
                                <h4 class="text-white"> Filter By Color:</h4>
                                <fieldset>
                                    <div class="list-group">
                                        <table class="table-bordered text-white" style="background:#495b61">
                                            <tr>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="neon-blue">Neon Blue</label>
                                                </td>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="arctic-white">Arctic White</label>
                                                </td>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="sea-green-fade">Sea Green
                                                        Fade</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="black-speckle">Black
                                                        Speckle</label>
                                                </td>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="candy-stripe">Candy Stripe</label>
                                                </td>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="fire-and-smoke">Fire and
                                                        Smoke</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="mountain-green">Mountain
                                                        Green</label>
                                                </td>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="purple-accent">Purple
                                                        Accent</label>
                                                </td>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="hazard-flame">Hazard Flame</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="morning-sun">Morning Sun</label>
                                                </td>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="grey-granite">Grey Granite</label>
                                                </td>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="copper-haze">Copper Haze</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="sky-fire">Sky Fire</label>
                                                </td>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="wine-country">Wine Country</label>
                                                </td>
                                                <td>
                                                    <label><input class="form-check-input me-1" type="checkbox"
                                                                  name="color" value="black-hole">Black Hole</label>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>


                                    <!-- END FILTER BY COLOR -->
                                    <div class="padding"></div>

                                    <div class="padding"></div>

                                    <!-- BEGIN FILTER BY PRICE -->
                                    <h4 class="text-white"> Filter By Price:</h4>
                                    <div class="input-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">Minimum Price: $</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Minimum Price"
                                                   aria-label="Text box for the minimum price"
                                                   name="minprice" value="">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon4">Maximum Price: $</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Maximum Price"
                                                   aria-label="Text box for the maximum price"
                                                   name="maxprice" value="">
                                        </div>

                                    </div>
                                </fieldset>
                                <input class="btn btn-primary mt-2" type="submit" value="Filter results">
                            </form>
                        </div>
                        <!-- END FILTERS -->
                        <!-- BEGIN RESULT -->
                        <div class="col-md-9">
                            <h2 class="text-white">Result</h2>
                            <hr>


                            <div class="padding"></div>

                            <!-- BEGIN TABLE RESULT -->
                            <div class="table-responsive">

                                <table class="table table-hover" id="resultsTable">
                                    <thead>
                                    <tr>
                                        <th class="text-white" scope="col">#</th>
                                        <th class="text-white" scope="col">Image</th>
                                        <th class="text-white" scope="col">Name/Description</th>
                                        <th class="text-white" scope="col">Color</th>
                                        <th class="text-white" scope="col">Price</th>
                                        <th class="text-white" scope="col"></th>
                                        <th class="text-white"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="results">
                                    {% if data %}
                                    {% for i in data %}
                                    <div class="row">
                                        <tr>
                                            <td class="text-white number text-center"> {{i.bikeid}}</td>
                                            <td class="text-white image"><img
                                                    src="https://via.placeholder.com/200x150/218cb0" alt="">
                                            </td>
                                            <td class="text-white product"><strong>{{i.modeltype}} Bike</strong><br>A
                                                {{i.color}} colored {{i.modeltype}} Bike
                                                with a frame size of {{i.framesize}}cm.
                                            </td>
                                            <td class="text-white color">{{i.color}}</td>
                                            <td class="text-white price">${{i.salesprice}}</td>
                                            <td class="text-white"><a class="text-white" href="/bike/{{ i.bikeid}}">More
                                                Details</a></td>
                                            <form action="shoppingCart.html">
                                                <td class="text-white text-right">
                                                    <Button class="btn btn-primary"
                                                            onclick="cartLS.add({id: {{i.bikeid}}, name: '{{i.modeltype}} Bike', price: {{i.salesprice}}})"
                                                            href="{% url 'shopping_cart' %}">Add to Cart
                                                    </Button>
                                                </td>
                                            </form>

                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <span class="text-white bg-danger" style="font-size: xx-large;">Could not connect to Database</span>
                                        {% endif %}
                                    </div>
                                    </tbody>

                                </table>
                            </div>
                            <!-- END TABLE RESULT -->

                            <!-- BEGIN PAGINATION -->

                            <!-- Not implemented -->
                            <!--                            <nav aria-label="Page navigation">-->
                            <!--                                <ul class="pagination secondary">-->
                            <!--                                    <li class="disabled"><a class="page-link" href="#">«</a></li>-->
                            <!--                                    <li class="active"><a class="page-link" href="#">1</a></li>-->
                            <!--                                    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
                            <!--                                    <li><a class="page-link" href="#">3</a></li>-->
                            <!--                                    <li><a class="page-link" href="#">4</a></li>-->
                            <!--                                    <li><a class="page-link" href="#">5</a></li>-->
                            <!--                                    <li><a class="page-link" href="#">»</a></li>-->
                            <!--                                </ul>-->
                            <!--                            </nav>-->
                            <!-- END PAGINATION -->
                        </div>
                        <!-- END RESULT -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END SEARCH RESULT -->
    </div>
</div>
</body>
<script>
        function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("resultsTable");
              tr = table.getElementsByTagName("tr");

              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }










</script>
</html>