{% include './template.html' %}
<script src="https://unpkg.com/cart-localstorage@1.1.4/dist/cart-localstorage.min.js" type="text/javascript"></script>
<body>
<div class="container">
    <div class="text-center row fs-5">
        <div class="float-start text-white col-md-5">
<!--            <h1>Image of Bike {{data.0.bikeid}} </h1>-->
            <br>

            <img class="img-fluid" src="https://via.placeholder.com/500x350/218cb0" alt="Bike Placeholder Image">
        </div>
        {% block content %}
        <div class="text-white text-start col-md-4">
            <br>
            <br>

<!--            <h1>Bike ID: {{ data.0.bikeid }}</h1>-->
            <p><strong>Color:</strong> {{ data.0.color }}</p>
            <p><strong>Frame Size:</strong> {{ data.0.framesize }}cm.</p>
            <p><strong>Model Type:</strong> {{ data.0.modeltype }}</p>
            <p><strong>Price:</strong> ${{ data.0.salesprice }}</p>
            <p><strong>{{data.0.modeltype}} Bike</strong>
                <br>A {{data.0.color}} colored {{data.0.modeltype}} Bike
                with a frame size of {{data.0.framesize}}cm.
            </p>
            <form action="shoppingCart.html">
                <Button class="btn btn-primary"
                        onclick="cartLS.add({id: {{data.0.bikeid}}, name: '{{data.0.modeltype}} Bike', price: {{data.0.salesprice}}})"
                        href="{% url 'shopping_cart' %}">Add to Cart
                </Button>
            </form>
        </div>

        {% endblock %}
    </div>
</body>
</html>