{% include './template.html' %}
    <script src="https://unpkg.com/cart-localstorage@1.1.4/dist/cart-localstorage.min.js" type="text/javascript"></script>
    <body>
    <br>
       <div class="container">
           <div class="card mb-4 shadow-sm" style="background-color:#2E3A3E">
                <div class="card-header">
                    <h2 class="text-white">Cart</h2>
                    <button class="btn btn-danger position-absolute top-0 end-0" onClick="cartLS.destroy()">Clear Cart</button>
                </div>
                <div class="card-body text-white">
                    <table class="table">
                        <tbody class="cart">
                        </tbody>
                        <tfoot>
                            <td class="text-white"></td>
                            <td class="text-white"></td>
                            <td class="text-white"></td>
                            <td class="text-white"></td>
                            <td class="text-white"></td>
                            <td class="text-right text-white">Total: <strong class="total"></strong></td>
                            <td class="text-white"></td>
                        </tfoot>
                    </table>

                </div>
           </div>
        </div>
       <script>
            function renderCart(items) {
                const $cart = document.querySelector(".cart")
                const $total = document.querySelector(".total")

                $cart.innerHTML = items.map((item) => `
                        <tr>
                            <td class="text-white">#${item.id}</td>
                            <td class="text-white">${item.name}</td>
                            <td class="text-white">${item.quantity}</td>
                            <td class="text-white" style="width: 60px;">
                                <button type="button" class="btn btn-block btn-sm btn-outline-primary"
                                    onClick="cartLS.quantity(${item.id},1)">+</button>
                            </td>
                            <td class="text-white" style="width: 60px;">
                                <button type="button" class="btn btn-block btn-sm btn-outline-primary"
                                    onClick="cartLS.quantity(${item.id},-1)">-</button>
                            </td>
                            <td class="text-right text-white">$${item.price}</td>
                            <td class="text-right text-white"><Button class="btn btn-primary" onClick="cartLS.remove(${item.id})">Delete</Button></td>
                        </tr>`).join("")

                $total.innerHTML = "$" + cartLS.total().toFixed(2)
            }
            renderCart(cartLS.list())
            cartLS.onChange(renderCart)
       </script>
   </body>
</html>