{% include './template.html' %}

<section class="about-section" id="about">
  <h2 class="text-white-50" style="padding-left: 200px">Sign up</h2>
  <form method="post" style="padding-left: 200px">
    {% csrf_token %}
    {% for field in form %}
      <p class="text-white">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</section>
</body>
</html>
