<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bike Shop</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
    <body id="page-top" class="" style="background-color:#2E3A3E">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light " id="mainNav" style="background-color:#ACDCEF">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/" style="font-family:Garamond,serif;font-size:40px">Team 4</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
<!--                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contact</a></li>-->
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'bikes' %}">Products</a></li>
                        {% if user.is_authenticated == False %}
						    <li class="nav-item justify-content-end"><a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Login</a></li>
						    <li class="nav-item justify-content-end"><a class="nav-link js-scroll-trigger" href="{% url 'signup' %}">Sign up</a></li>
                        {% else %}
                             <li class="nav-item justify-content-end"><a class="nav-link js-scroll-trigger" ><i class="fas fa-user"></i>{{ user.get_username }}</a></li>
                             <li class="nav-item justify-content-end"><a class="nav-link js-scroll-trigger" href="{% url 'logout' %}'">Sign out</a></li>
                        {% endif %}

						{% load static %}
						<li class="nav-item justify-content-end"><a href="{% url 'shopping_cart' %}"><img src="{% static 'images/shoppingcart.png' %}" width="40" height="40"></a></li>
                    </ul>
                </div>
            </div>
        </nav>



        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

